log:
  name:  "log/log/staking.log"
  level:  "debug"
  count:  180
  rotateTime:  86400
  stdout:  true
mysql:
  host: "127.0.0.1"
  port: 3306
  user: "xxx"
  password: "xxxx"
  dbname: "xxxx"

metablox:
  rpcUrl: "https://api.s0.b.hmny.io"
  tokenAddress: "xxxxx"
  walletPrivateKey: "xxxx"
  registryContract: "xxxxx"