log:
  name:  "log/log/staking.log"
  level:  "debug"
  count:  180
  rotateTime:  86400
  stdout:  true
mysql:
  host: "127.0.0.1"
  port: 3306
  user: "tester"
  password: "omnisolutesting"
  dbname: "foundationService"

metablox:
  rpcUrl: "https://api.s0.b.hmny.io"
  tokenAddress: "0x7aEC610a4a3287B7b210bC04bDA781B2afd7538c"
  walletPrivateKey: "9fd8f6049129527c63830aead266bcf7c53aa82109422da9335aac0c0a36a968"
  registryContract: "0xf880b97Be7c402Cc441895bF397c3f865BfE1Cb2"